<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Forums</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/home.css">

</head>
<body>
<div class="jumbotron text-center">
  <h1 class="display-2">Welcome to the Q&A Forums</h1>
  <p class="lead mb-4">Feel free to ask any question you would like and get your answers !</p>
  <a th:href="@{/login}" class="btn btn-lg btn-login mr-2">Login</a>
  <a th:href="@{/register}" class="btn btn-lg btn-register">Register</a>
</div>

<!-- Include jQuery and Bootstrap JavaScript libraries at the end of the body -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
